h1 {
    border: 1px black;
    margin: 10px;
    padding: 20px;
    background-color: blue;
}
#wrapper{
    width: 960px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;


}

#menu {
    background-color:  aliceblue;
    height: 50px;
    line-height: 50px;
}
#banner {
    background-color: red;
}
#Box3 {
    background-color: blueviolet;
    width: 593px;
    float: left;
}
#Box4 {
    background-color: chartreuse;
    width: 367px;
    clear: both;
}

#Box5 {
    background-color: cyan;
    width: 367px;
    clear: both;
.box{
    height: 50px;
    width: 50px;
}