
#wrapper {
    width: 960px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}

#menu {
    background-color: green;
    height: 50px;
    line-height: 50px;
}
#menu ul{
    margin: 0px;}
}
#menu li {
    display: inline;
}

#banner {
    background-color: red;
}

#Content {
    background-color: papayawhip;
    font-family: "Helvetica", "Helvetica Neue", "sans-serif";
    float: left;
    width: 545px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    line-height: 27px;

}

#sidebar {
    background-color: chocolate;
    width: 367px;
    float: left;
}

#footer {

}

#Box4 {
    background-color: chartreuse;
    width: 367px;
    clear: both;
}

#Box5 {
    background-color: cyan;
    width: 367px;
    clear: both;

.box {
    height: 50px;
    width: 50px;
}